/*prevent text selection on kiosk */
body {
	user-select:none;

}

/* adjust for screen resolution */
#page {
 	 height: 1000px;
}

/* improve apppearance of x to close video on the Pi */
.YouTubePopUp-Close:before {
  
	content: "\2716"!important;
	font-size: 40px !important;
	padding: -20px !important;
	left: -50px
 
}

/* hide back button on landing page */
.button, .wp-block-button .wp-block-button__link {   
	  padding: 10px 20px;   
	  display: none !important;
}
 

